<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- bootstrap-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<title>Booksie Review | {% block title %}{% endblock %}</title>

		<!--stylesheet link-->
		<link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}" >

	</head>
	<body>
		<div class="header" style="color:#231814">
			<h1>{% block heading %}{% endblock %}</h1>
		</div>
		
		<div style="color:#231814">
			{% block body %}{% endblock %}
		</div>
		
		<div class="text-center">
			<footer id="footer" style="color:#FFFFFF">Created by Sandy Y., built using Python, Flask, and PostgreSQL.</footer>
		</div>
	</body>
</html>